<header class="header">
  <div class="logo">
    <img
      src="../assets/logs/icons8-hotel-100.png"
      alt="logo"
      href="/index.html"
    />
  </div>
  <nav>
    <ul class="nav-links">
      <li>
        <a routerLink="/crear-hotel" routerLinkActive="active">Crear Hotel</a>
      </li>
      <li>
        <a routerLink="/asignar-habitaciones" routerLinkActive="active"
          >Asignar Habitaciones</a
        >
      </li>
      <li>
        <a routerLink="/modificar-habitaciones" routerLinkActive="active"
          >Modificar Habitaciones</a
        >
      </li>
      <li>
        <a routerLink="/modificar-datos-hotel" routerLinkActive="active"
          >Modificar Datos de Hotel</a
        >
      </li>
      <li>
        <a routerLink="/gestion-reservas-hoteles" routerLinkActive="active"
          >Gestión de Reservas de Hoteles</a
        >
      </li>
      <li>
        <a routerLink="/formulario-reserva" routerLinkActive="active">
          Formulario de Reservas</a
        >
      </li>
      <li>
        <a routerLink="/habitaciones" routerLinkActive="active">Habitaciones</a>
      </li>
      <li>
        <a routerLink="/buscador-hoteles" routerLinkActive="active">Buscar</a>
      </li>
    </ul>
  </nav>
</header>
